<div class="listings">

  <li> <%=listing.address %> </li>
  <li> <%=listing.neighborhood %> </li>
  <li> <%=listing.city %> </li>
  <li> <%=number_to_currency(listing.price) %> </li>
  <li> <%=listing.home_type %> </li>
  <li> <%=listing.description %> </li>
  <hr>

</div></br>
