<div class="listings">

  <li> <%= link_to "#{listing.address}", listing_path("#{listing.id}"), id: "new_link", :class=> "btn btn-default" %> </li>
  <li> <%=listing.neighborhood %> </li>
  <li> <%=listing.city %> </li>
  <li> <%=number_to_currency(listing.price) %> </li>
  <li> <%=listing.home_type %> </li>
  <li> <%=listing.description %> </li>
  <hr>

</div></br>
