<!DOCTYPE html>
<html>
<head>
  <title>AirbnbClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body >

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="container">
          <div id="user_nav">
            <div class="berserk">
               <% if user_signed_in? %>
               Logged in as <strong><%= current_user.email %></strong>.
               <strong><%= link_to 'Edit profile', edit_user_registration_path %></strong> |
               <strong><%= link_to "Logout", destroy_user_session_path, method: :delete %></strong>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path %> |
                <%= link_to "Login", new_user_session_path %>
              <% end %>
            </div>
          </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1><i><center><strong>Welcome to AirJnM</strong></center></i></h1>

        <center>
          <%= form_tag listings_path, method: :get do %>
          <p>
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag "Search", name: nil %>
          </p>
          <% end %>
      </center>

      </div>
    </div>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
</div>
</body>
</html>
